@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.credit-card {
    font-family: 'Roboto', sans-serif;
    height: 162px;
    width: 262px;
    border-radius: 10px;
    background-color: #285dcd;
}

.credit-card-front {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
}

.credit-card-front > * {
    margin-left: 18px;
}

.credit-card-front .number {
    display: flex;
    font-size: x-large;
}

.credit-card-front .information-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 30px;
    width: 80px;
}

.credit-card-front p:nth-child(1) {
    text-transform: uppercase;
    display: flex;
    justify-self: flex-start;
    font-size: small;
}

.credit-card-front p:nth-child(2) {
    text-transform: uppercase;
    display: flex;
    justify-self: flex-start;
}

.credit-card-front .name{
    margin-bottom: 10px;
    margin-top: 10px;
}

.credit-card-back {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.credit-card-back .information-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
    margin-left: 8px;
    height: 30px;
    width: 148px;
    background-color: #c4c4c4;
}

.credit-card-back .information-wrapper .name {
    margin-top: 5px;
    margin-left: 10px;
    flex-direction: row;
    order: 0;
    font-family: 'Delicious Handrawn', cursive;
}

.credit-card-back .information-wrapper .number {
    flex-direction: row;
    align-items: flex-end;

    order: 1;
    margin: 0;
}

.magnetic-strip {
    margin-top: 15px;
    background-color: black;
    height: 30px;
}



